.Presentation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Presentation-title {
  justify-self: start;
  font-size: 76px;
  color: #d14949;
  cursor: default;
}

.Presentation-leftside {
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Presentation-rightside {
  width: 50%;
  float: right;
}
