.Presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 100px;
}

.Presentation-container {
  display: block;
  margin-right: 15%;
  margin-bottom: 5%;
  overflow: hidden;
  min-height: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Presentation-before-title {
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: #d14949;
}

.Presentation-title {
  justify-self: start;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 46px;
  font-weight: 600;
  color: #ffacac;
  cursor: default;
}

.Presentation-under-title {
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  max-width: 600px;
  color: #d9c5c5;
}

.Presentation-download-button {
  padding: 0.5rem 1rem;
  color: #d9c5c5;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid #d14949;
  border-radius: 4px;
}

.Presentation-download-button:hover {
  background-color: #d14949;
  border-radius: 4px;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

@media only screen and (max-width: 1720px) {
}

@media only screen and (max-width: 800px) {
  .Presentation {
    margin-inline: 0;
  }

  .Presentation-container {
    margin: 25px;
    margin-bottom: 5%;
  }

  .Presentation-before-title {
    font-size: 3vw;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  .Presentation-title {
    font-size: 6vw;
  }

  .Presentation-under-title {
    font-size: 3.5vw;
  }

  .Presentation-download-button {
    font-size: 3.5vw;
  }
}
