.Projects {
  display: block;
  align-items: center;
  justify-content: center;
}

.Projects-introduction {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.Projects-title {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 46px;
  font-weight: 400;
  color: #d14949;
  cursor: default;
}

.Projects-container {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Project {
  height: 350px;
  width: 300px;
  margin: 5px;
  padding: 25px;
  position: relative;
  background-color: #262626;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 22px 36px;
  transition: transform ease 400ms;
}

.Project:hover {
  cursor: default;
  transform: translate(0, -5px);
}

.Project-main-icon {
  float: left;
  text-align: left;
  font-size: 36px;
  color: #d14949;
  background-color: transparent;
}

.Project-links {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 85%;
  height: 40px;
  margin-bottom: 25px;
  background-color: transparent;
}

.Project-links li {
  margin-inline: 5px;
  background-color: transparent;
}

.Project-icons {
  font-size: 22px;
  color: #facaca;
  cursor: pointer;
  background-color: transparent;
}

.Project h2 {
  text-align: left;
  font-size: 22px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
  color: #facaca;
}

.Project h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #d1cdcd;
  background-color: transparent;
}

.Project-footer {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 25px;
  left: 0;
  padding-inline: 20px;
  background-color: transparent;
}

.Project-footer ul,
.Project-footer li {
  display: inline-block;
  background-color: transparent;
}

.Project-footer li {
  padding: 5px;
  font-size: 15px;
  color: #d1cdcd;
}
