.Projects {
  display: block;
  align-items: center;
  justify-content: center;
}

.Projects-introduction {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.Projects-title {
  justify-self: start;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #ffacac;
}

.Projects-container {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Project-wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  padding: 10px;
}

.Project {
  height: 285px;
  width: 265px;
  margin: 5px;
  padding: 25px;
  position: relative;
  background-color: #262626;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 6px;
}

.Project-main-icon {
  float: left;
  text-align: left;
  font-size: 34px;
  color: #d14949;
  background-color: transparent;
}

.Project-links {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 84%;
  height: 40px;
  margin-bottom: 15px;
  background-color: transparent;
}

.Project-links li {
  height: 40px;
  margin-inline: 5px;
  background-color: transparent;
}

.Project-icons {
  margin-top: 10px;
  font-size: 22px;
  color: #facaca;
  cursor: pointer;
  background-color: transparent;
  transition: transform ease 400ms;
}

.Project-icons:hover {
  color: #d14949;
  transform: translate(0, -5px);
}

.Project h2 {
  text-align: left;
  font-size: 20px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
  color: #facaca;
}

.Project h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #d1cdcd;
  background-color: transparent;
}

.Project-footer {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 15px;
  left: 0;
  padding-inline: 20px;
  background-color: transparent;
}

.Project-footer ul,
.Project-footer li {
  display: inline-block;
  background-color: transparent;
}

.Project-footer li {
  padding: 5px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 14px;
  color: #787575;
}

.Project-button-div {
  text-align: center;
}

.Projects-button {
  padding: 0.5rem 1rem;
  color: #d9c5c5;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid #d14949;
  border-radius: 4px;
}

.Projects-button:hover {
  background-color: #d14949;
  border-radius: 4px;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

@media only screen and (max-width: 1600px) {
  .Project-wrapper {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: 1200px) {
  .Project-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 900px) {
  .Project-wrapper {
    grid-template-columns: repeat(1, auto);
  }
}

@media only screen and (max-width: 800px) {
  .Projects-button {
    font-size: 3.5vw;
  }
}
