.ProjectsArchive-introduction {
  display: block;
  margin-top: 125px;
  margin-bottom: 100px;
  justify-content: center;
  margin-left: 20%;
}

.ProjectsArchive-title {
  width: 60%;
  display: flexbox;
  justify-self: start;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 52px;
  font-weight: 600;
  color: #ffacac;
}

.ProjectsArchive-description {
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  max-width: 600px;
  color: #d9c5c5;
}

.ProjectsArchive-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProjectsArchive-container table {
  width: 60%;
  margin-bottom: 100;
}

.ProjectsArchive-container table th {
  text-align: left;
  font-size: 20px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  padding-bottom: 10px;
  color: #d14949;
}

.ProjectsArchive-container table td {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.ProjectsArchive-icons {
  margin-right: 10px;
  font-size: 22px;
  color: #d9c5c5;
  cursor: pointer;
  transition: transform ease 400ms;
}

.ProjectsArchive-icons:hover {
  color: #d14949;
  transform: translate(0, -5px);
}

@media only screen and (max-width: 1280px) {
  .ProjectsArchive-container table {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .ProjectsArchive-introduction {
    margin-inline: 25px;
  }

  .ProjectsArchive-title {
    font-size: 8vw;
  }

  .ProjectsArchive-description {
    font-size: 3vw;
  }
}
