.Navbar {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  font-size: 1.2rem;
  background-color: #1f1f1f;
}

.Navbar-title {
  position: absolute;
  left: 50px;
  color: #d14949;
  cursor: default;
  letter-spacing: 2px;
}

.Navbar-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  text-align: center;
  width: 97%;
  justify-content: end;
}

.Navbar-links {
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 500;
}

.Navbar-links:hover {
  background-color: #ffd6d6;
  color: #d14949;
  border-radius: 4px;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.Navbar .Active {
  background-color: #d14949;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.4s ease-out;
}

.Mobile-menu-icon {
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 4rem;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  outline: none;
}

.Close-nav-menu {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .Mobile-menu-icon {
    display: flex;
  }

  .Navbar-links {
    transition: 0.3s ease transform;
    display: none;
  }
}
