.Navbar {
  height: 80px;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  font-size: 1.2rem;
  background-color: #1f1f1f;
}

.Navbar-title {
  position: absolute;
  left: 50px;
  color: #d14949;
  cursor: default;
  letter-spacing: 2px;
}

.Navbar-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  text-align: center;
  width: 97%;
  justify-content: end;
}

.Navbar-links {
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 500;
}

.Navbar-links:hover {
  background-color: #ffd6d6;
  color: #d14949;
  border-radius: 4px;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.Navbar .Active {
  background-color: #d14949;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.4s ease-out;
}

.Navbar-icons {
  color: #ffd6d6;
  position: relative;
  right: 15px;
  font-size: 3vw;
  cursor: pointer;
  display: none;
}

.Navbar-icons:hover {
  color: #ffacac;
}

@media only screen and (max-width: 800px) {
  .Navbar-title {
    font-size: 5vw;
    left: 25px;
  }

  .Open {
    display: flex;
    font-size: 5vw;
  }

  .Navbar-links {
    transition: 0.3s ease transform;
    display: none;
  }
}
