.header {
  height: 90px;
  display: flex;
  background-color: red;
}

.header-name {
  width: 30%;
  text-align: center;
}

.header-links {
  width: 70%;
  text-align: end;
  display: table-cell;

  background-color: yellow;
}

.header-links p {
  display: inline-block;
  font-size: 20px;
  margin-inline: 10px;
}
